language: bash

os_x_entry: &os_x_entry
  os: osx
  before_install:
    - brew update
    - brew install shellcheck

matrix:
  include:
    - os: linux
    - *os_x_entry
    - << : *os_x_entry
      osx_image: xcode7.1
    - << : *os_x_entry
      osx_image: xcode8

addons:
  apt:
    sources:
      - debian-sid
    packages:
      - shellcheck

install:
  - git clone --depth 1 https://github.com/sstephenson/bats ../bats
  - ../bats/install.sh "${HOME}/.local"
  - git clone --depth 1 https://github.com/sambrightman/penv.git ../penv
  - curl -L https://cpanmin.us | perl - -l ~/perl5 --notest App::cpanminus local::lib

before_script:
  - export PENVWRAPPER_PENV="../penv/penv.pl"
  - eval "$(perl -I${HOME}/perl5/lib/perl5 -Mlocal::lib)"

script:
  - bats test
  - shellcheck -s sh penvwrapper.sh
