language: bash

os_x_entry: &os_x_entry
  os: osx
  before_install:
    - brew update
    - brew install coreutils shellcheck

matrix:
  include:
    - os: linux
    - *os_x_entry
    - << : *os_x_entry
      osx_image: xcode7.1
    - << : *os_x_entry
      osx_image: xcode8

addons:
  apt:
    packages:
      - realpath
    sources:
      - debian-sid
    packages:
      - shellcheck

install:
  - git clone --depth 1 https://github.com/sstephenson/bats ../bats
  - ../bats/install.sh "${HOME}/.local"
  - git clone --depth 1 https://github.com/jtopjian/penv.git ../penv

before_script:
  - export PENVWRAPPER_PENV="../penv/penv.pl"
  - export PATH="${HOME}/.local/bin:${PATH}"

script:
  - bats test
  - shellcheck -s sh penvwrapper.sh
