language: bash
matrix:
  include:
    - os: linux
    - os: osx
    - os: osx
      osx_image: xcode7.1
    - os: osx
      osx_image: xcode8
addons:
  apt:
    sources:
      - debian-sid
    packages:
      - shellcheck
before_install:
  - git clone --depth 1 https://github.com/jtopjian/penv.git ../penv
  - git clone --depth 1 https://github.com/sstephenson/bats ../bats
  - ../bats/install.sh "${HOME}/.local"
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update           ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install coreutils; fi
before_script:
  - export PENVWRAPPER_PENV="../penv/penv.pl"
  - export PATH="${HOME}/.local/bin:${PATH}"
script:
  - bats test
  - shellcheck -s sh penvwrapper.sh
